<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1>current game</h1>
    </div>

    
    <div class="main-container">
        <h1>code: {{ context.game.code }}</h1>
        <h2>lobby name {{ context.game.name }}</h2>
        <h3>owner id: {{ context.game.root }}</h3>
        <h4>players count: <span>{{ context.game.current_players }}</span>/<span>{{ context.game.max_players }}</span></h4>
        <h5>status: waiting...</h5>
    </div>
    
    
    <div class="choose-team">
        <h1>Количество комманд: {{ context.game.teams_count }}</h1>
        <h1>Максимальное количество игроков на комманду: {{ context.game.players_in_team }}</h1>
        <div class="teams">
            {% for team_preset in context.team_presets %}
            <div class="team-preset">
                <h1>{{ team_preset.name }}</h1>
                <img src="{{ team_preset.flag }}" alt="#">
                <form action="/api/v1/chooseTeam">
                    <input type="text" name="team_preset_id" value="{{ team_preset.pk }}">
                    <input type="submit">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <input type="text" id="teams_count_input" value="{{ context.game.teams_count }}" hidden>
    <form action="">
        {% if context.is_root %}
            <input type="submit" value="start">
        {% endif %}
    </form>

    
    <script>
        let teams_count = document.querySelector("#teams_count_input");
    </script>
</body>
</html>